body{
    margin: 0;
    padding:  0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
.Nav-bar{
    display: flex;
    background-color: #ffcc00;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.Nav-bar .logo{
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
.nav-links{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li{
    margin-left: 25px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    transition: 0.1s;
}
.nav-links a:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/* intro section */


.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.content{
    max-width: 60%;
}
.content h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content p{
    line-height: 1.6;
    margin-bottom: 30px;
    
}
.login-btn{
    background-color: #ffcc00;
    border: none;
    padding: 8px 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    transition : 0.1s;
}
.login-btn:hover{
    background-color: #e6b800;
    cursor: pointer;
    color: blue;
    text-decoration: underline
}
.image img{
   max-width: 500px;
   border-radius: 10px; 
}
/* Contact form */
.contact-section{
    text-align: center;
    padding: 50px;
}
.contact-section h2{
    margin-bottom: 20px;
    text-align: left;
    font-size: 2rem;
    color: #ffcc00;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ffcc00;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    outline: none;
}

.form-row {
    display: flex;
    gap: 60px;
}

.half-width {
    flex: 1;
}

.submit-btn {
    background-color: #ffcc00;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.submit-btn:hover {
    background-color: #e6b800;
    text-decoration: underline;
    color: blue;
}
/* Table Css */

table{
    width: 100%;
    margin: 100px auto;
    border-collapse: collapse;
    color: white;
}
th, td{
    border: 1px solid #ffcc00;
    padding: 20px;
    text-align: left;
    color: #ffcc00;
}
tfoot td{
    background-color: #ffcc00;
    color: black;
    border: 1px solid black;
}